body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray(187);}
a {
  color: #000000;
}
.heaader{
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3; /* content going under the header */

}

.heaader ul{
  margin: 0;
  padding: 0;
  list-style: none;/* Turns off bullets */
  overflow: hidden;
  background-color: #ffffff;
}
.heaader ul a{
  display: block;/* Changing a tag to block */
  padding: 20px;
  border-right: 1px solid #aaa;
  text-decoration: none;/* Removes underline */
}

.heaader ul a:hover{
  background-color: #ddd;

}

.heaader .logo{
  float: left;
  display: block;
  font-size: 2em;
  padding: 10px 20px;
}
.heaader .menu{
  clear: both;
  max-height: 0;
  transition: max-height.2s ease-out;/* Animation of the mobile menu ease out slows near the end */
}
.heaader .menu-icon{
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.heaader.menu-icon .nav-icon{
  background: darkgray;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background .2s ease-out; /* For animating rotation on the icon*/
}

.heaader .menu-icon .nav-icon:before{
   background: #333;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  top: 5px; /* Moves down from the top to bottom */
  transition:all .2s ease-out;
}

.heaader .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  top: -5px;
  transition:all .2s ease-out;
}

.heaader .menu-button {
  display: none;
}

.heaader .menu-button:checked ~ .menu { /* Creates an animation bcs of the transition in menu selector */
  max-height: 240px;

}
.heaader .menu-button:checked ~ .menu-icon .nav-icon{
  background: transparent;
}

.heaader .menu-button:checked ~ .menu-icon .nav-icon:before{
  transform: rotate(-45deg);
  top: 0;
}

.heaader .menu-button:checked ~ .menu-icon .nav-icon:after{
  transform: rotate(45deg);
  top: 0;
}
@media (min-width: 48em) {

  .heaader li{
    float: left;
  }
  .heaader li a{
    padding: 20px 30px;
  }
  .heaader .menu{
    clear: none;
    float: right;
    max-height: none;
  }
  .heaader .menu-icon{
    display: none;
  }
}